@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    font-family: "Inter", sans-serif;
    scroll-behavior: smooth;
}

.menu {
    display: none;
}

.menu.active {
    display: block;
}
